name: Code check

on:
  push: null
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      # keep-sorted start
      actions: ${{steps.changes.outputs.actions}}
      android: ${{steps.changes.outputs.android}}
      renovate: ${{steps.changes.outputs.renovate}}
      # keep-sorted end
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - .github/workflows/*.yaml
              - devbox.json
              - devbox.lock
            android:
              - build.gradle.kts
              - settings.gradle.kts
              - gradle/**/*
              - gradle.properties
              - gradlew
              - gradlew.bat
              - app/**/*
              - devbox.json
              - devbox.lock
            renovate:
              - renovate.json5
              - devbox.json
              - devbox.lock
  check-actions:
    needs: path-filter
    if: needs.path-filter.outputs.actions == 'true'
    timeout-minutes: 5
    name: Check github actions files
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - run: devbox run actionlint
      - run: devbox run ghalint run
      - run: devbox run zizmor .github/
  check-format:
    timeout-minutes: 5
    name: Check code format
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - run: devbox run fmt
      - run: git diff
  test-android:
    timeout-minutes: 15
    name: Test Android code
    needs: path-filter
    if: needs.path-filter.outputs.android == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      actions: write
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - run: devbox run ./gradlew detekt testDebugUnitTest koverXmlReportDebug
      - uses: k1LoW/octocov-action@73d561f65d59e66899ed5c87e4621a913b5d5c20 # v1.5.0
        if: github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch))
        with:
          config: octocov.yaml
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: reports
          path: app/build/reports/
  build-apk:
    timeout-minutes: 10
    name: Build Android APK
    needs: path-filter
    if: needs.path-filter.outputs.android == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - run: devbox run ./gradlew assembleDebug
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: app-debug-${{ github.sha }}
          path: app/build/outputs/apk/debug/app-debug.apk
          retention-days: 7
  check-renovate:
    timeout-minutes: 5
    name: Check Renovate config
    needs: path-filter
    if: needs.path-filter.outputs.renovate == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - run: devbox run renovate-config-validator --strict
  status-check:
    timeout-minutes: 5
    name: Status Check
    runs-on: ubuntu-latest
    needs:
      # keep-sorted start
      - build-apk
      - check-actions
      - check-format
      - check-renovate
      - test-android
      # keep-sorted end
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
