name: Code check

on:
  push: null
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      # keep-sorted start
      actions: ${{steps.changes.outputs.actions}}
      devbox: ${{steps.changes.outputs.devbox}}
      renovate: ${{steps.changes.outputs.renovate}}
      # keep-sorted end
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - .github/workflows/*.yml
              - devbox.json
              - devbox.lock
            android:
              - build.gradle.kts
              - gradle/**/*
              - gradle.properties
              - gradlew
              - gradlew.bat
              - app/**/*
              - devbox.json
              - devbox.lock
            renovate:
              - renovate.json5
              - devbox.json
              - devbox.lock
  check-format:
    timeout-minutes: 5
    name: Check code format
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run fmt
      - run: git diff
  test-android:
    timeout-minutes: 5
    needs: path-filter
    if: needs.path-filter.outputs.android == 'true'
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run ./gradlew test
  check-renovate:
    timeout-minutes: 5
    needs: path-filter
    if: needs.path-filter.outputs.renovate == 'true'
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run renovate-config-validator --strict
  status-check:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs:
      # keep-sorted start
      - check-format
      - check-home-manager
      - check-renovate
      # keep-sorted end
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
