name: Code check

on:
  push: null
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  # TODO: enable path-filter after make be public this repo
  # path-filter:
  #   timeout-minutes: 5
  #   outputs:
  #     # keep-sorted start
  #     actions: ${{steps.changes.outputs.actions}}
  #     devbox: ${{steps.changes.outputs.devbox}}
  #     renovate: ${{steps.changes.outputs.renovate}}
  #     # keep-sorted end
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #   steps:
  #     - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
  #       with:
  #         persist-credentials: false
  #     - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
  #       id: changes
  #       with:
  #         filters: |
  #           actions:
  #             - .github/workflows/*.yml
  #             - devbox.json
  #             - devbox.lock
  #           android:
  #             - build.gradle.kts
  #             - gradle/**/*
  #             - gradle.properties
  #             - gradlew
  #             - gradlew.bat
  #             - app/**/*
  #             - devbox.json
  #             - devbox.lock
  #           renovate:
  #             - renovate.json5
  #             - devbox.json
  #             - devbox.lock
  check-actions:
    timeout-minutes: 5
    name: Check github actions files
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run actionlint
      - run: devbox run ghalint run
      - run: devbox run zizmor .github/
  check-format:
    timeout-minutes: 5
    name: Check code format
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run fmt
      - run: git diff
  test-android:
    timeout-minutes: 15
    name: Test Android code
    # needs: path-filter
    # if: needs.path-filter.outputs.android == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - run: devbox run ./gradlew test
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: reports
          path: app/build/reports/
  check-renovate:
    timeout-minutes: 5
    name: Check Renovate config
    # needs: path-filter
    # if: needs.path-filter.outputs.renovate == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run renovate-config-validator --strict
  status-check:
    timeout-minutes: 5
    name: Status Check
    runs-on: ubuntu-latest
    needs:
      # keep-sorted start
      - check-actions
      - check-format
      - check-renovate
      - test-android
      # keep-sorted end
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
